@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.container{
  margin: 20px;
  border:1px solid black;
  padding: 20px;
}

@media (min-width: 600px){
  .container{
    columns:2;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  overflow-y: scroll;
  padding: 0 20px;
  background: #17c2c2;
}

.bg {
  background-image: url("https://vistapointe.net/images/cool-blue-5.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

::selection{
  background: rgba(23,162,184,0.3);
}

header img{
  width: 50px;
  height: 50px;
}

header{
  color: white;
}

.wrapper{
  width: 100%;
  margin: 50px auto;
  padding: 25px 30px 30px 30px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

.wrapper header{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
}

.wrapper nav{
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}

.wrapper nav label{
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #17c2c2;
  font-size: 17px;
  border-radius: 5px;
  margin: 0 5px;
  transition: all 0.3s ease;
}

.wrapper nav label:hover{
  background: rgba(23,162,184,0.3);
}
#home:checked ~ nav label.home,
#blog:checked ~ nav label.blog,
#code:checked ~ nav label.code,
#help:checked ~ nav label.help,
  #about:checked ~ nav label.about{
  color: #fff;
}

nav label i{
  padding-right: 7px;
}

nav .slider{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 5px;
  background: #17c2c2;
  transition: all 0.3s ease;
}

input[type="radio"]{
  display: none;
}
#blog:checked ~ nav .slider{
  left: 20%;
}
#code:checked ~ nav .slider{
  left: 40%;
}
#help:checked ~ nav .slider{
  left: 60%;
}
#about:checked ~ nav .slider{
  left: 80%;
}
section .content{
  display: none;
  background: #fff;
}
#home:checked ~ section .Home,
#blog:checked ~ section .AI,
#code:checked ~ section .Machine,
#help:checked ~ section .Contact,
#about:checked ~ section .About{
  display: block;
}
section .content .title{
  font-size: 21px;
  font-weight: 500;
  margin: 30px 0 10px 0;
}
section .content p{
text-align: justify;
}

section{
  border: 5px;
  border-color: white;
}

table{
    margin: 5px;
    font-size: 130%;
    height: 75%;
    width: 75%;
}

tr {
  margin:20px, 10px;
}

table{
  border-radius: 25px;
  background: #17c2c2;
  padding: 20px;
  width: fixed;
  height: 150px;
  color: white;
}

table ul{
  padding: 20px;
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: none;
  border-radius: 25px;
  background: #17c2c2;
  color: white;
}

.Machine{
  padding: 25px;
  border-radius: 25px 25px 0px 0px;
  background: #17c2c2;
}

.Home{
    padding: 25px;
  border-radius: 25px 25px 0px 0px;
  background: #17c2c2;
}

.AI{
     padding: 25px;
  border-radius: 25px 25px 0px 0px;
  background: #17c2c2;
}

.Contact{
     padding: 25px;
  border-radius: 25px 25px 0px 0px;
  background: #17c2c2;
}

.About{
      padding: 25px;
  border-radius: 25px 25px 0px 0px;
  background: #17c2c2;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Zorgt vvoor de width and hight van het filmpje */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-color: #13aeae;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
}

.SubmitButton{
  display: block;
  width: 100%;
  border: none;
  border-radius: 25px;
  background-color:  #13aeae;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  height: 100%;
  line-height: 50px;
  position: relative;
  z-index: 1;
  margin: 0 5px;
  transition: all 0.3s ease;
  color: white;
}

.SubmitButton:hover{
   background: rgba(185,227,234,0.3);
}

.Joshua td img{
  border-radius: 25px;
}

.Bo td img{
  border-radius: 25px;
}

h1{
  color: white;
}

input{
  border-radius: 15px;
  padding: 5px;
  font-size: 15px;
}

textarea{
  min-width: 300px;
  min-height: 200px;
  max-width: 500px;
  max-height: 400px;
  border-radius: 25px;
  padding: 15px;
}

.footer{
  opacity: 1;
  color: #dae1ec;
  background-color: white;
  border-radius: 0px 0px 25px 25px;
  padding: 25px;
}

@media (max-width: 684px){
 body{
   font-size: 12.5px;
   margin: 0;
   padding-left: none;
 }
  textarea{
  min-width: 50px;
  min-height: 75px;
  max-width: 400px;
  max-height: 400px;
  }
  .wrapper nav{
  position: relative;
  height: 50px;
  display: flex;
    justify-content: flex-start;
    overflow: auto;
}
  table{
    padding: 10px;
    width: 100%;
     }
  .Joshua td img{
  border-radius: 25px;
      height: 75px;
      width: 75px;
  }
    .Bo td img{
  border-radius: 25px;
      height: 75px;
      width: 75px;
}
  .wrapper nav label { 
    height: 45px;
    width: 45px;
  }
  .wrapper nav label{
  font-size: 15px;
  border-radius: 5px;
  margin: 0 5px;
  transition: all 0.3s ease;
}
  nav .slider{
  position: absolute;
  height: 100%;
  width: 0%;
}
  #home:checked ~ nav label.home,
#blog:checked ~ nav label.blog,
#code:checked ~ nav label.code,
#help:checked ~ nav label.help,
  #about:checked ~ nav label.about{
  color: #13aeae;
}
}